.portfolio-logo{
    height: 30px;
    width: 30px;
}

#portfolio{
    margin-top: 30px;
    margin-bottom: 30px;
}

/* #portfolio-header{
    transform: rotate(90deg);
} */

.project-img{
    height: 250px;
}

.project-body{
    height: 250px;
}

.project-subtitle{
    height: 10px;
}

.project{
    margin-bottom: 20px;
}

.project-btn{
    margin-top: 100px;
}

.project-title{
    white-space: nowrap;
    /* width: 320px; */
}

/* .project-description{
    overflow: scroll;
    overflow: hidden;
    height: 150px;
} */