#contact-me{
    background-color: #252934;
    color: white;
}

.eight-bit-btn{
    display: inline-block;
    /* position: relative; */
    text-align: center;
    font-size: 30px;
    padding: 20px;
    color: white;
    box-shadow: inset 4px 4px 0px 0px #ce372b;
}

.form-row{
    margin-bottom: 20px;
}

#resume-btn{
    margin-bottom: 50px;;
}

#contact-me-header{
    margin-top: 25px;
    margin-bottom: 30px;
}

#form-submit-btn{
    margin-bottom: 25px;
}