#landing-zone{
    height: 100vh;
    /* background-color: rgb(11, 11, 54); */
    background-color: #1b242f;
    color: white;
}

.my-name{
    /* color: #92117d; */
    color: rgb(146, 17, 125);
}

#first-row{
    padding-top: 20px;
    margin-bottom: 200px;
}

.coin{
    height: 200px;
    width: 175px;
    margin-right: 30px;
}