.aboutMeImg{
    height: 500px;
    width: 400px;
    /* Diamond */
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0% 50%);
    /* Pentagon */
    /* clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%); */
}